name: Selenium CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  selenium-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.12]
        browser: [chrome, firefox]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

  
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Setup Chrome
        if: matrix.browser == 'chrome'
        uses: browser-actions/setup-chrome@v1

      - name: Setup Firefox
        if: matrix.browser == 'firefox'
        uses: browser-actions/setup-firefox@v1

      - name: Run tests
        env:
          BROWSER: ${{ matrix.browser }}
          BASE_URL: ${{ secrets.BASE_URL }}
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: |
          pytest --browser=${{ matrix.browser }} \
                -v \
                --html=report-${{ matrix.browser }}.html \
                --self-contained-html || true

      - name: Upload screenshots
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: selenium-screenshots-${{ matrix.browser }}
          path: screenshots/
          if-no-files-found: ignore

      - name: Upload HTML Report
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: html-report-${{ matrix.browser }}
          path: report-${{ matrix.browser }}.html
